@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 1440px;
    
}
header{
    display: flex;
    justify-content: space-between;
    
    width: 1160.58px;
    margin: auto;
    margin-top: 47px;
    margin-bottom: 18px;
}

header .navigation{
display: flex;

}
header ul{
    list-style-type: none;
}
ul a{
    text-decoration: none;
    font-family: 'Google Sans' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #212832;
}
header ul li{
    padding: 10px;
    margin-left: 50px;
}
header .signIn{
    height: 40px;
    width: 102px;
    
    border: 1px solid #212832;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}
.mainPage{
    height: 764px;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 97px;
}
.mainPage section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainPage section h3{
    margin-bottom: 26px;
    font-family: 'Poppins' sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-transform: uppercase;
color: #DF6951;
white-space: nowrap;
}
.mainPage section h2{
font-family: 'Volkhov';
font-style: normal;
font-weight: 700;
font-size: 84px;
line-height: 89px;
letter-spacing: -0.04em;
color: #181E4B;
margin-bottom: 26px;
}
.mainPage section p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;   
    color: #5E6282;
    width: 477px;
    height: 90px;
    margin-bottom: 34px;
}
.findMore{
width: 170px;
height: 60px;
background: #F1A501;
box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
border-radius: 10px;
border: 0;

font-family: 'Google Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
margin-right: 44px;
}
.playDemo{
width: 170px;
height: 60px;
background: #DF6951;
box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
border-radius: 10px;
border: 0;

font-family: 'Google Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
}

